
<div class="ui container">

	<div class="ui horizontal list">
		<div class="item">
			
				Home
			
		</div>
		<div class="item">
			{{#link-to "projects"}}
				Projects
			{{/link-to}}
		</div>
		<div class="item">
			{{#link-to "developers"}}
				Developers
			{{/link-to}}
		</div>
	</div>


	<div class="ui header">
		<i class="plus icon"></i>

		<div class="content">
			<h1>models\Developer</h1>
			New object creation
		</div>
	</div>

	{{#link-to "developers.new"}}
		<button class="ui orange button">
			<i class="plus icon"></i>
			Add a new models\Developer...
		</button>
	{{/link-to}}


	<table class="ui single line table">
		<thead>
			<tr>
				<th>Identity</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |dev|}}
				<tr>
					<td>{{dev.identity}}</td>
					<td style="text-align:right">

						{{#link-to "developers.edit" dev}}
							<button class="circular icon ui button">
								<i class="edit icon"></i>
							</button>
						{{/link-to}}

						<button class="circular icon ui button" {{action "askDeleteConfirm" dev}}>
							<i class="remove red icon"></i>
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>

	</table>

	{{#if model.del}}
		<div class="ui icon message">

			<i class="question circle icon"></i>

			<div class="content">
				

				<div class="header">
					Remove {{model.del.identity}} ?
				</div>
				<p>
					<button class="positive ui button" {{action "deleteDev" model.del}}>
						<i class="check circular icon"></i>
						Validate
					</button>

					<button class="negative ui button" onClick={{action "cancelDelete"}}>
						<i class="remove circular icon"></i>
						Cancel
					</button>
				</p>
			</div>

		</div>
	{{/if}}

</div>

{{outlet}}